@font-face {
  font-family: RedHat;
  src: url(../fonts/RedHatDisplay-VariableFont_wght.ttf);
}
/* use weights: 500 (medium), 700(bold), 900(black)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(224, 232, 255);
}
@media screen and (max-width: 1440px) {
  body {
    background: top no-repeat url(../img/pattern-background-desktop.svg) rgb(224, 232, 255);
  }
}
@media screen and (max-width: 375px) {
  body {
    background: top no-repeat url(../img/pattern-background-mobile.svg) rgb(224, 232, 255);
  }
}

main .card-container {
  max-width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  padding: 0 0 40px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 20px;
}
@media screen and (max-width: 425px) {
  main .card-container {
    max-width: none;
    margin: 0 10px;
  }
}
main .card-container .img-container img {
  width: 100%;
}
main .card-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 0 30px;
}
main .card-container .text-container h1 {
  font-family: RedHat, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(31, 47, 86);
  text-align: center;
}
main .card-container .text-container p {
  font-family: RedHat, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(114, 128, 167);
  text-align: center;
  padding: 0 20px;
  line-height: 25px;
}
main .card-container .text-container .annual-plan-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: rgb(245, 247, 255);
  border-radius: 10px;
  padding: 20px;
}
main .card-container .text-container .annual-plan-container .infos {
  margin-right: auto;
  line-height: 25px;
}
main .card-container .text-container .annual-plan-container .infos h2 {
  font-family: RedHat, sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: rgb(31, 47, 86);
  text-align: left;
}
main .card-container .text-container .annual-plan-container .infos span {
  font-family: RedHat, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(114, 128, 167);
  text-align: left;
}
main .card-container .text-container .annual-plan-container a {
  font-family: RedHat, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: rgb(56, 41, 224);
  text-align: left;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
main .card-container .text-container .annual-plan-container a:hover {
  text-decoration: none;
  opacity: 0.7;
}
main .card-container .btn {
  width: 100%;
  background: rgb(56, 41, 224);
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-family: RedHat, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 20px 15px rgb(224, 232, 255);
          box-shadow: 0 20px 15px rgb(224, 232, 255);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
main .card-container .btn:hover {
  opacity: 0.7;
}
main .card-container .btn-cancel {
  font-family: RedHat, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: rgb(114, 128, 167);
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
main .card-container .btn-cancel:hover {
  color: rgb(31, 47, 86);
}/*# sourceMappingURL=index.css.map */